.sign-in-container {
    width: 343px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 8px;
    /* padding: 16px 0px 16px 0px; */
    background: rgba(35, 66, 115, 0.1);
    /* Note: backdrop-filter has minimal browser support */
    backdrop-filter: blur(5px);
    border-radius: 4px;

    /* border: 1px solid gold; */
}

.sign-in-container p {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px;
    font-size: 16px;
    /* background: red; */
}

.sign-in-container div {
    display: flex;
    justify-content: center;
    /* background: dodgerblue; */
}

.button-default {
    min-width: 64px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 8px 0px 8px;
    padding: 0px 16px 0px 16px;
    background: #138838;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.button-default p {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    letter-spacing: 1.25px;
    /* border: 1px solid red; */
}

.button-outline {
    min-width: 64px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 8px 0px 8px;
    padding: 0px 16px 0px 16px;
    background: #FFF;
    border-radius: 4px;
    /* border: 2px solid #999; */
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); */
}

.button-outline p {
    margin: 0px;
    padding: 0px;
    color: #138838;
    letter-spacing: 1.25px;
    /* border: 1px solid red; */
}

